* {
   margin: .5rem .75rem;
   padding: 0;
   line-height: 1.15;
   font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html {
    font-size: 100%;
}

body {
    background-color: rgb(216, 215, 215);
}

